body{
    background-color:aquamarine;
}
#navbar{
    position: fixed;
    top: 0;
    display:flex;
    
    justify-content:space-between;
    width:100%;
    background-color:brown;
    margin:auto;
    border-radius:7px;
    z-index:1;
    


}
#lsbtn{
    display:flex;
    width:20%;
    justify-content:space-between;
    margin-right: 20px;
}
h3{
    margin-left: 20px;
    color:white;
    font-size:25px;
}
a{
    text-decoration:none;
}
#loginpage{
    display:grid;
    gap:20px;
    width:30%;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding:40px;
    border-radius: 7px;
    background-color:#fff;
   
}
input{
    border-radius: 7px;
    font-size:23px;

}
h1{
    text-align:center;
    margin-top:100px;
    font-weight: bold;
    font-size:30px;
}
#sliding{
    width:80%;
    height:300px;
    margin: auto;
    
    
    
    
}
img{
    width:100%;
    border-radius:10px;
    
}
#sliding img{
    height:300px;
}
#movies{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    width:100%;
    justify-content:space-between;
    gap:15px;
}